<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>   
      </ion-buttons>
      <ion-row>
    <ion-col text-start padding-top>
    <ion-title>
      Going My Way/RideShare
    </ion-title>
  </ion-col>
  <ion-col text-end>
    <ion-button (click)="getUserJournies()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Show Journies
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- might not be needed -->
  <!-- <ion-button (click)="getUserJournies()">Manage My Journies</ion-button> -->

  <ion-card *ngFor="let info of getData">{{info}}
    <ion-button color="danger">Delete</ion-button>
  </ion-card>
  
</ion-content>
