<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">Longitude</ion-label>
    <ion-input [(ngModel)] = "Long" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Latitude</ion-label>
    <ion-input [(ngModel)] = "Lat" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Profile Name</ion-label>
    <ion-input [(ngModel)] = "name" ></ion-input>
  </ion-item>

  <ion-button (click)="testSend()">Send to Database</ion-button>
  <br>
  <br>
  <ion-button (click)="displayDocuments()">Log Documents</ion-button>
  <br>
  <br>


  <!-- <ion-item  *ngFor ="let data of getData" >
  {{data.payload.doc._document.proto.fields.lat.stringValue}} 
  {{data.payload.doc._document.proto.fields.long.stringValue}}
  {{data.payload.doc._document.proto.fields.name.stringValue}}
  </ion-item>  -->

</ion-content>
