<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Going My Way/RideShare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="Center">
    <ion-card *ngFor="let info of getData">
      <ion-card-content *ngIf="info.payload.doc._document.proto.fields.name.stringValue == userName">
        <b>Start of Journey:</b> {{info.payload.doc._document.proto.fields.startloc.stringValue}}
        <br>
        <br>
        <b>End of Journey:</b> {{info.payload.doc._document.proto.fields.endloc.stringValue}}
        <br>
        <ion-button color="danger" (click)="deleteJourney(info.payload.doc._document.key.path.segments[6])">Delete</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>