<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Going My Way/RideShare
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div id="outerBox">
    <div id="instructions">
      <h1>Welcome to RideShare</h1>
      <p>
      A car pool inspired App!
      Once you have registered an account with us you can see the Journeys that other Users are going to take.
      You can also plan your own Journeys for others to see. Go to the Manage Journies section of the app to remove any Journeys you have added.
      </p>
      <h2>Enjoy!</h2>

    </div>
  </div>

</ion-content>