<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Going My Way/RideShare
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div id="outerBox">
    <div id="instructions">
      <p>Welcome to RideShare app</p>
      <p>In order to use the app you need to be registered and logged in</p>
      <p>As soon as you did that you can either search a journey or offer one</p>
      <p>
        In order to plan a journey click at the "hamburger menu icon" in the top left corner of the app
        Select the tab: plan a journey.
        Type in the location you are currently in in the search bar.
        Press search button.
        Keep pressing the marker and drag it to your destinantion
        Press the "Add This Journey" button at the top right
        Congratulations you've just added a journey :)
      </p>
      <p>
        In order to view all the journeys go to the side menu
        Click the tab "Map"
        Click "Show Journies" button at the top right
        Markers with all the journeys available will appear in the <map name=""></map>
      </p>





    </div>

  </div>

</ion-content>