<ion-header>
  <ion-toolbar>
    <ion-title>Going My Way/RideShare</ion-title>
    <ion-button (click)="visitMapPage()">Journies</ion-button>
    <ion-button (click)="navigateJourneyPlanner()">Add a Journey</ion-button>
  </ion-toolbar>
  <ion-input [(ngModel)]="search_address"  placeholder="">Search location:</ion-input><ion-button (click)="search(search_address)">search</ion-button>
</ion-header>

<ion-content padding>
<div id="myMap"></div>
<ion-button (click)="addJourneyToDatabase()">Add This Journey!</ion-button>
</ion-content>