#myMap
{
    height: 90%;
    margin:2%;
    border-radius: 5%;
}


#myInput 
{  
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid dodgerblue;
    box-shadow: none !important;
}
  
  