<<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Going My Way/RideShare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div id="myMap"></div>
<ion-input [(ngModel)]="search_address"  placeholder="">Search location:</ion-input><ion-button (click)="search(search_address)">search</ion-button>
<ion-button (click)="addJourneyToDatabase()">Add This Journey!</ion-button>
</ion-content>