//margins for the google map that appears when you 
//access the view
#myMap
{
    height: 90%;
    margin:2%;
    border-radius: 5%;
}
#location 
{  
    border-radius: 30px;
    margin: 2%;
    border: 1px solid dodgerblue;
    text-align: center;
}
#search 
{     
    text-align: center;
    
}
#addJourney 
{     
    text-align: center;
}
  
  