<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col>
          <ion-title>
            Going My Way/RideShare
          </ion-title>
        </ion-col>



      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="showJournies()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Show Journies
      </ion-button>
  <div id="myMap"></div>
</ion-content>